[submodule "scripts/python-utils"]
	path = scripts/python_utils
	url = git@github.com:KU-AIRS-SPARK/python-utils.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
