<launch>
    <include file="$(find opencv_drone)/launch/drone_runway_modified.launch" />

    <node name="sitl" pkg="opencv_drone" type="startsitl.sh" launch-prefix="xterm -e"/>
    
    <include file="$(find opencv_drone)/launch/apm.launch" />
    <node name="mavros_to_tf" pkg="message_to_tf" type="message_to_tf" args=" /mavros/global_position/local"/>
    <!-- 
    <node name="vision" pkg="opencv_drone" type="vision.py" args="$(find opencv_drone)/img.jpg" output="screen" launch-prefix="xterm -e"/>
    -->
    
</launch>