<launch>
    <include file="$(find opencv_drone)/launch/drone_runway_modified.launch" />
    <node name="sitl" pkg="opencv_drone" type="startsitl.sh" launch-prefix="xterm -e"/>
    <include file="$(find opencv_drone)/launch/apm.launch" />
    <node name="mavros_to_tf" pkg="message_to_tf" type="message_to_tf" args=" /mavros/global_position/local"/>
    <node pkg="tf" type="static_transform_publisher" name="webcam_transform_publisher" args="0 0 0 0 0.7071068 0 0.7071068 base_link webcam 100" />
</launch>